:host  {

	position: absolute;
	z-index: 400;
	right:0;
	bottom:0;
	height:100px;
	min-width:300px;
	background-color:rgba(0,0,0,0);
	color:#FFF;

	-webkit-transition: height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
	-o-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;

}

:host.minify {

	-webkit-transition: height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
	-o-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;	
	height:32px!important;

}

h1 {
	font-size:2rem;
	font-style: italic;
}