:host  {

	position: absolute;
	z-index: 300;
	left:0;
	bottom:0;
	height:200px;
	width:300px;
	background-color:rgba(0,0,0,0.7);
	color:#FFF;

	-webkit-transition: height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
	-o-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;
	overflow:hidden;

}

:host.minify {

	-webkit-transition: height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
	-o-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;	
	height:32px!important;

}

:host(.close) {

	display: none;

}

.top-bar {

	height:30px;
	width:100%;

}
.top-bar > a.nav-btn {

	height: 25px;
	width:25px;
	text-align: center;
	padding:3px;
	cursor: pointer;

}

ul.log-list > li {

	list-style: none;
	font-variant:small-caps;
	font-size: 0.8rem;

}