<div class="top-bar" #LogDrag>
  <i class="icon-menu"></i>Logs
  <a class="float-right nav-btn" (click)="close()">
    &times;
  </a>  
   <a class="float-right nav-btn" (click)="minify()">
    _
  </a>

</div>
<ul class="log-list">
  <li *ngFor="let log of logs.reverse()">
    {{dtToDate(log.dt)}} {{ log.line }}
  </li>
</ul>