<router-outlet></router-outlet>
<nav></nav>

<three-box (threeNotification)="threeNotification($event)"></three-box>

<nav-stars (interfaceToggles)="interfaceToggles($event)" [stars]="getStars()" [isClosed]="interfaceDisplay.navStars" [class] ngDraggable [handle]="NavStarsDrag" [cluster]="getCluster()"></nav-stars>
<nav-focus (interfaceToggles)="interfaceToggles($event)" [cluster]="getCluster()" [star]="getTopStar()" [obj] [class]></nav-focus>
<nav-audio (interfaceToggles)="interfaceToggles($event)" [audio]="audio" [isClosed]="interfaceDisplay.navAudio" [class] ngDraggable [handle]="NavAudioDrag" ></nav-audio>

<viewport-log [logs]="logs" (interfaceToggles)="interfaceToggles($event)" [isClosed]="interfaceDisplay.logs" [class] ngDraggable [handle]="LogDrag"></viewport-log>
<viewport-toggles (interfaceToggles)="interfaceToggles($event)" [interfaceDisplay]="interfaceDisplay"></viewport-toggles>
<viewport-debug *ngIf="isDebug()" [FPS]="getFPS()" (interfaceToggles)="interfaceToggles($event)" [isClosed]="interfaceDisplay.debug" [class] ngDraggable [handle]="DebugDrag"></viewport-debug>