<div class="top-bar" #NavAudioDrag>
  
  <i class="icon-menu"></i>Audio
  <a class="float-right nav-btn" (click)="close()">
    &times;
  </a>  
   <a class="float-right nav-btn" (click)="minify()">
    _
  </a>

</div>
<div class="btn-group" dropdown *ngIf="audio">
  <span id="button-disabled-item" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-disabled-item">
    <span *ngIf="hasCurrentAudio()">{{getCurrentAudioTrackName()}}</span><span *ngIf="!hasCurrentAudio()">select music</span></span>
  <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-disabled-item">
    <li *ngFor="let item of audio">
      <a (click)="setAudio(item)">{{item.name}}</a>
    </li>
  </ul>
</div>

<div *ngIf="hasCurrentAudio()">
  <audio #player preload="auto" controls>
    <source src="{{getCurrentAudioTrackUrl()}}" type="audio/mpeg">
    <h2>Your browser does not support the audio element.</h2>
  </audio>
</div>