<div class="top-bar" #NavStarsDrag>
  <i class="icon-menu"></i>Nearby Stars
  <a class="float-right nav-btn" (click)="close()">
    &times;
  </a>  
   <a class="float-right nav-btn" (click)="minify()">
    _
  </a>

</div>

<ul class="star-list" *ngIf="cluster && stars">
  <li *ngFor="let star of stars">
     <a routerLink="/galaxy/{{cluster.stub}}/{{star.stub}}"><i class="icon-sun"></i></a> {{ star.name }}
  </li>
</ul>