/*
 Fontello.com template

menu
spin
note
globe
sun
space-shuttle
flow-line
spread

*/

@font-face {
  font-family: 'uu-www';
  src: url('uu-www.eot?44753143');
  src: url('uu-www.eot?44753143#iefix') format('embedded-opentype'),
       url('uu-www.woff2?44753143') format('woff2'),
       url('uu-www.woff?44753143') format('woff'),
       url('uu-www.ttf?44753143') format('truetype'),
       url('uu-www.svg?44753143#uu-www') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'uu-www';
    src: url('../font/uu-www.svg?44753143#uu-www') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "uu-www";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e800'; } /* '' */
.icon-note:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-flow-line:before { content: '\e803'; } /* '' */
.icon-spin:before { content: '\e830'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */