<div class="modal-header">
  <h4 class="modal-title pull-left">Register</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

  <form>

    <div class="form-group">
      <input type="text" class="form-control" id="reg-name" name="reg-name" placeholder="Enter your name" [(ngModel)]="formObj.name" #inputRegName [ngStyle]="{'color': valid.name ? 'black' : 'red'}">
    </div>
    <div class="form-group">

      <input type="password" class="form-control" name="reg-password" id="reg-password" aria-describedby="reg-password-help" placeholder="Password" [(ngModel)]="formObj.password" #inputRegPwd  [ngStyle]="{'color': valid.password ? 'black' : 'red'}">
      <small id="reg-password-help" class="form-text text-muted">Passwords are always encrypted and stored securely.</small>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="persistent" [checked]="formObj.persistent" (change)="formObj.persistent = !formObj.persistent">
          <label class="form-check-label" for="persistent">Always log me in</label>
        </div>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary float-right" [disabled]="isEmpty()" (click)="submit()" >Submit</button>
      </div>
    </div>

  </form>

</div>