<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="logo-pane">
    <img class="logo" src="/assets/uu-title.png" title="UU">
  <div class="home-menu" *ngIf="!isLoggedIn">
    <div class="row justify-content-center">
      <div class="col-3">
        <button type="button" class="btn-secondary btn-lg pull-right" (click)="openLogin()">Login</button>
      </div>
      <div class="col-3">
        <button type="button" class="btn-secondary btn-lg pull-left" (click)="openRegister()">Register</button>
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col-6"><h3>Active Clusters</h3></div>
    <div class="col-6"></div>
  </div>
  <div class="row">
    <div class="col-12"><hr></div>
  </div>
  <div class="row">
    <div class="col-12">

          <table class="table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Systems</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cluster of activeClusters;let i = index" [attr.data-index]="i">
              <th scope="row">{{i}}</th>
              <td><a href="/cluster/{{cluster.stub}}" [routerLink]="['/galaxy/'+cluster.stub]" title="{{cluster.name}}">{{cluster.name}}</a></td>
              <td>{{cluster.systems}}</td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>  
</div>
