.container-fluid {
	background-color: rgb(0,0,0);
	min-height: 100%;
}

.logo-pane {
	width:100%;
	height:100%;
}
img.logo {
	margin-top:100px;
	width:98vw;
	padding-left:1vw;
}
.home-menu {
	margin-top:20px;
	margin-bottom:40px;
}
.home-menu .btn-lg {
	width:100%;
}

.logo-pane hr {
    border-top: 1px solid rgba(255,255,255,.1);
}

h3 {
	color:#8c42d4;
}

li {
	list-style: none;
}

table {
	width:100%;
}