:host  {
	position: absolute;;
	z-index: 1000;
	top:0;
	left:0;
	width: 100%;
	height:50px;
	background-color: rgba(0,0,0,0.9);
	display: block;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	overflow:hidden;
}

:host.top-nav-minify {
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;	
	width:1vw!important;
}

.top-menu {

	margin:0;
	display:inline-block;
	width:calc( 100% - 1vw );
	height: 100%;
	overflow: hidden;
}


a.logo {

	display:inline-block;
	height: 100%;

}

a.logo > img {

	margin-left:3px;
	height:100%;	

}


.top-menu-btn {
	margin:0;
	display:inline-block;
	width:1vw;
	background-color:#71266E;
	height: 100%;
}