/* You can add global styles to this file, and also import other style files */

/*@import '~material-design-icons/iconfont/material-icons.css';*/

@import '/assets/fonts/icons/uu-www.css';

html, body {
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: #000;
}

::-moz-selection { background:transparent; }
::selection { background:transparent; }