<a (click)="toggle('logs')" [ngClass]="{'active':interfaceDisplay.logs}"><i class="icon-menu"></i></a>

<a (click)="toggle('navMusic')" [ngClass]="{'active':interfaceDisplay.navMusic}"><i class="icon-note"></i></a>

<a (click)="toggle('navStars')" [ngClass]="{'active':interfaceDisplay.navStars}"><i class="icon-sun"></i></a>
