:host  {

	position: absolute;
	z-index: 300;
	right:0;
	top:50px;
	height:auto;
	width:27px;

}

a {

	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	border-radius: 3px;
	background-color:rgba(0,0,0,0.3);	
	text-align: center;
	margin:3px 0px;
	color:rgba(255,255,255,0.7)!important;
}

a:hover {

	color: #FFF!important;

}

a.active {

	color: #FFF!important;
	background-color:rgba(255,255,255,0.3);

}