<div class="top-bar" #DebugDrag>
  <i class="icon-menu"></i>Debug
  <a class="float-right nav-btn" (click)="close()">
    &times;
  </a>  
   <a class="float-right nav-btn" (click)="minify()">
    _
  </a>

</div>

FPS: {{FPS}}